@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --tsz-def: 80px;
  --tsz: var(--tsz-def);
  --tsz-half: calc(var(--tsz) / 2);
  --tsz-third: calc(var(--tsz) / 3);
  --bsz: calc(var(--tsz) * 8);

  --tile-light: #eeeed2;
  /* --tile-dark: #769656; */
  --tile-dark: #4b7399;
  --tile-highlight: #00000033;
  --tile-check: #ff4141;
  --bg-color: #202020;
  --bg-dark: #101010;
}

@media (max-width: 770px) {
  :root {
    --tsz: calc(var(--tsz-def) / 2);
    --tsz-half: calc(var(--tsz) / 2);
    --tsz-third: calc(var(--tsz) / 3);
    --bsz: calc(var(--tsz) * 8);
  }
}

[draggable] {
  transform: translateX(0);
}

.tile--highlight::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  height: var(--tsz-third);
  width: var(--tsz-third);
  border-radius: 50%;
  background-color: var(--tile-highlight);
  pointer-events: none;
}

.tile--candidate::after {
  --z: 1px;
  content: "";
  position: absolute;
  margin: var(--z);
  height: calc(var(--tsz) - var(--z) * 2);
  width: calc(var(--tsz) - var(--z) * 2);
  border-radius: 50%;
  border: 9px solid var(--tile-highlight);
  pointer-events: none;
}

.tile--checked::after {
  content: "";
  position: absolute;
  inset: 0;
  height: var(--tsz);
  width: var(--tsz);
  background-color: var(--tile-check);
  pointer-events: none;
}
